/* index.css */

body {
  background-image: url('assets/back1.1.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
