.matrix-multiplication-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    /* justify-content: center; */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Определение анимации */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Применение анимации ко всем элементам */
.matrix-multiplication-container * {
    animation: slideInFromLeft 1s ease-out forwards;
}

.h1Multiplication {
    margin-left: 12%;
    margin-top: 5%;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    font-size: 200%;
}

.matrix-multiplication-block {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    width: 50%;
}

.matrix-multiplication-text1 {
    margin-top: 5%;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 120%;
}

.matrix-multiplication-button {
    margin-left: 12%;
    margin-top: 1%;
    font-family: 'Mulish', sans-serif;
    height: 7%;
    width: 8%;
    background-color: #ef7135;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.matrix-multiplication-input {
    width: 131%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 120%;
    color: #c0c0c0;
    background-color: rgba(0, 0, 0, 0);
}

.matrix-multiplication-textarea {
    margin-left: 12%;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 120%;
    color: #c0c0c0;
    background-color: rgba(0, 0, 0, 0);
}

.matrix-multiplication-form {
    display: flex;
    flex-direction: row;
}

.matrix-multiplication-input-threads {
    margin-left: 8%;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 120%;
    color: #c0c0c0;
    background-color: rgba(0, 0, 0, 0);
}

.matrix-multiplication-text-threads {
    margin-left: 8%;
    margin-top: 5%;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 120%;
}

.matrix-multiplication-text2 {
    margin-left: 12%;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 120%;
}
