/* SignUpPage.css */

.registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  form[type="formReg"] {
    align-items: center;
    margin-top: 2%;
    width: 30%;
    height: 55%;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    text-align: center;
    align-items: center;
  }
  
  ::placeholder {
    font-family: "Mulish", sans-serif;
    color:#c0c0c0;
    opacity: 0.6;
    padding: 5px;
  }
  
  .signUpPageSubmit {
    margin-top: 6%;
    font-family: "Mulish", sans-serif;
    height: 11%;
    width: 25%;
    background-color: #EF7135;
    color: #fff;
    border: none;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #ec530c;
    color: #c0c0c0;
    cursor: pointer;
  }

  input[type="signUpPageInput"] {
    margin-top: 6%;
    height: 10%;
    width: 75%;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 80%;
    color:#c0c0c0;
    background-color: rgba(0,0,0,0);
  }

  p[type="signUpPageP"] {
    margin-top: 10%;
    color:#fff;
    font-family: "Mulish", sans-serif;
    font-size: 85%;
  }

  a[type="signUpPageRef"] {
    color:#EF7135;
  }

  a:hover[type="signUpPageRef"] {
    color: #ec530c;
    cursor: pointer;
  }

  input[type="signUpPagePassword"] {
    margin-top: 6%;
    height: 10%;
    width: 75%;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 80%;
    color:#c0c0c0;
    background-color: rgba(0,0,0,0);
    -webkit-text-security: disc;
  }

  .wolframX {
    width: 45%;
    height: auto;
  }

  .wolframXdiv {
    display: flex;
    justify-content: center;
  }